@use "../../../sass/mixins";
:global {
    .ant-tabs {
        width: fit-content;
    }
    .ant-tabs-nav {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #999999;
    }
    .ant-tabs-nav-list {
        display: flex;
        column-gap: 40px;
    }
    .ant-tabs-tab-active {
        color: #d84727;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #d84727 !important;
    }
    .ant-tabs-tab:hover {
        color: #d84727;
    }
    .ant-tabs-ink-bar {
        background: #d84727;
    }
    .ant-tabs-tab {
        width: fit-content;
        font-size: 20px;
    }
    .ant-tabs-tab-btn:focus,
    .ant-tabs-tab-remove:focus,
    .ant-tabs-tab-btn:active,
    .ant-tabs-tab-remove:active {
        color: #d84727;
    }
    .ant-tabs-top>.ant-tabs-nav::before,
    .ant-tabs-bottom>.ant-tabs-nav::before,
    .ant-tabs-top>div>.ant-tabs-nav::before,
    .ant-tabs-bottom>div>.ant-tabs-nav::before {
        border-bottom: none !important;
    }
}

.container {
    margin-top: 76px !important;
    padding: 0 165px;
    max-width: 1440px;
    margin: 0 auto;
}

p {
    padding: 0;
    margin: 0;
}

.line {
    margin-top: 0px;
    border: 0.3px solid #e5e5e5;
    border-bottom: none;
}

.info {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 0 30px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #333333;
}

.desc {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #555555;
}

.size__product {
    @include mixins.flex();
    margin-top: 16px;
}