.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  :global {
    .ant-form-item {
      margin: 0;
    }
    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
    .ant-input-affix-wrapper:hover,
    .ant-input-affix-wrapper-focused,
    .ant-input-affix-wrapper:focus {
      border-color: #d84727;
      box-shadow: none;
    }
    .ant-btn-primary {
      background: #d84727;
      border-color: #d84727;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 14px;
  }

  .form {
    border: 1px solid rgb(235, 235, 240);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;

    width: 400px;

    .form_phone {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
      width: 100%;

      .input_otp {
        width: 100%;
        column-gap: 20px !important;
        input {
          border-radius: 10px;
          width: 90% !important;
          border: 2px solid #d84727;
          height: 60px;
        }
      }
    }

    .update_phone {
      width: 100%;
    }

    .small_text {
      font-size: 15px;
      .send_again {
        color: #d84727;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
