.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 20px;

  :global {
    .ant-form-item {
      margin: 0;
    }
    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
    .ant-input-affix-wrapper:hover,
    .ant-input-affix-wrapper-focused,
    .ant-input-affix-wrapper:focus {
      border-color: #d84727;
      box-shadow: none;
    }
    .ant-btn-primary {
      background: #d84727;
      border-color: #d84727;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 14px;
  }

  .form {
    margin-top: 20px;
    border: 1px solid rgb(235, 235, 240);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;

    width: 400px;

    .form_phone {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
      width: 100%;
    }

    .update_phone {
      width: 100%;
    }

    .small_text {
      margin-top: 10px;
    }
  }
}
