.orderItemContainer {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ebf0ff;
  background: linear-gradient(180deg, #ffffff 60.28%, #effffa 100%);
  /* light blue */
  /* light blue */
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .serviceContainer {
    margin-bottom: 10px;
  }
  .staffContainer {
    padding-bottom: 18px;
    border-bottom: solid 1px #ebf0ff;
    margin-bottom: 18px;
  }

  .code {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    /* Cyan / 9 */
    color: #00474f;
  }
  .serviceName {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    /* Black blue */
    color: #223263;
  }
  .date {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* #000000 */
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.85);
  }
  .technical,
  .staffName {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    /* #000000 */

    color: rgba(0, 0, 0, 0.65);

    /* Inside auto layout */
  }
  .staffImage {
    display: flex;
    align-items: center;
    margin: 0 5px;
    width: 18px;
    height: 18px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .duration {
    font-family: "Inter";
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */
    /* Cyan / 9 */
    color: #00474f;
  }
  .status {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    &.pending {
      color: #40bfff;
    }
    &.delivery {
      color: #5c61f4;
    }
    &.starting {
      color: #ffc833;
    }
    &.cancel {
      color: var(--primary-pink);
    }
    &.complete {
      color: #53d1b6;
    }

    div {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-right: 10px;
      &.pending {
        background-color: #40bfff;
      }
      &.schedule {
        background-color: #5c61f4;
      }
      &.starting {
        background-color: #ffc833;
      }
      &.cancel {
        background-color: #fb7181;
      }
      &.complete {
        background-color: #53d1b6;
      }
    }
  }
  .customerImg {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .customerName {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* Black blue */
    color: #223263;
  }
  .infoDetail {
    display: flex;
    margin-top: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */
    color: rgba(0, 0, 0, 0.85);
    :global {
      .anticon {
        margin-right: 10px;
      }
    }
    .text {
      margin-right: 10px;
    }
  }
}
