.container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  .button_remove {
    background-color: #d84727;
    color: #fff;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    border-radius: 7px;
    cursor: pointer;

    &.disabled {
      cursor: no-drop;
      background-color: #999;
      filter: none !important;
    }
    &:hover {
      filter: brightness(1.1);
    }
  }
}
.orderItemContainer {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ebf0ff;
  background: linear-gradient(180deg, #ffffff 60.28%, #effffa 100%);
  /* light blue */
  /* light blue */
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .code {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    /* Cyan / 9 */
    color: #00474f;
  }
  .receipient,
  .receipientPhone {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    /* Black blue */
    color: #223263;
    margin-top: 10px;
  }
  .receipientPhone {
    margin-left: 10px;
  }
  .date {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* #000000 */
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.85);
  }

  .status {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    &.pending {
      color: #40bfff;
    }
    &.delivery {
      color: #5c61f4;
    }
    &.starting {
      color: #ffc833;
    }
    &.cancel {
      color: var(--primary-pink);
    }
    &.complete {
      color: #53d1b6;
    }

    div {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-right: 10px;
      &.pending {
        background-color: #40bfff;
      }
      &.delivery {
        background-color: #5c61f4;
      }
      &.schedule {
        background-color: #5c61f4;
      }
      &.starting {
        background-color: #ffc833;
      }
      &.cancel {
        background-color: #fb7181;
      }
      &.complete {
        background-color: #53d1b6;
      }
    }
  }

  .address,
  .addressName {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* Black blue */
    color: #223263;
    margin-top: 10px;
  }
  .addressName {
    margin-left: 10px;
  }
}
