@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Taviraj:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
* {
  font-family: "Taviraj";
  margin: 0;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
  background-color: #ffffff; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  border: 0.3vw solid #ffffff;
  border-radius: 5vw;
}

.ant-scrolling-effect {
  width: 100% !important;
}

a {
  color: #333333 !important;
}
