.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  .img_error {
    display: flex;
    justify-content: center;
    width: fit-content;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .txt_error {
    font-size: 30px;
    color: grey;
  }
}
