@use "../../../sass/mixins" as *;
.container {
  margin-top: 100px;
  .swipe_spon {
    margin-top: 50px;
    width: 1088px;
    @include tablet {
      max-width: 100vw;
      width: 500px;
    }
    @include mobile {
      width: 350px;
    }
  }
}
