.waveContainer {
  width: 536px;
  height: 190px;

  .vaweAnimation {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      animation: wave 3s infinite ease-in-out alternate-reverse;
      animation-delay: calc((-1) * (3 / 3) * var(--delay));

      &:nth-child(1) {
        top: -80px;
        right: 0;
      }
      &:nth-child(2) {
        top: -20px;
        right: 0;
      }
      &:nth-child(3) {
        top: 40px;
        right: 0;
      }
    }
  }

  &.absolute {
    position: absolute;
    top: 0;
    right: -120px;
  }
}

@keyframes wave {
  0% {
    transform: scale(0.1) rotate(180deg);

  }
  20% {
    transform: scale(1.2);

  }
  100% {
    transform: scale(1.2);
  }
}
