.box_verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  row-gap: 20px;

  .text_verify {
    font-size: 20px;
    color: #d84727;
    font-weight: bold;
  }

  .dot_pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #d84727;
    color: #d84727;
    box-shadow: 9999px 0 0 -5px #d84727;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: 0.25s;
  }

  .dot_pulse::before,
  .dot_pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #d84727;
    color: #d84727;
  }

  .dot_pulse::before {
    box-shadow: 9984px 0 0 -5px #d84727;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }

  .dot_pulse::after {
    box-shadow: 10014px 0 0 -5px #d84727;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: 0.5s;
  }

  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #d84727;
    }
    30% {
      box-shadow: 9984px 0 0 2px #d84727;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #d84727;
    }
  }

  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #d84727;
    }
    30% {
      box-shadow: 9999px 0 0 2px #d84727;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #d84727;
    }
  }

  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #d84727;
    }
    30% {
      box-shadow: 10014px 0 0 2px #d84727;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #d84727;
    }
  }
}
