@use "../../../sass/mixins" as *;
.backgroundContainer {
  max-height: calc(100vh - 48px);
  max-width: 100vw;
  padding-top: 48px;
  @include tablet {
    max-width: 1024px;
    // width: 100vw;
    padding: 45px 15px 0px 15px;
  }
  .carouselContainer {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;

    .carouselItem {
      display: flex;
      position: absolute;
      width: 1110px;
      height: 505px;
      inset: 0;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      background-color: #f1ddc983;
      opacity: 0;
      visibility: hidden;
      clip-path: circle(0% at 0 50%);

      &.active {
        opacity: 1;
        visibility: visible;
        transition: 2s ease;
        clip-path: circle(150% at 0 50%);
        transition-property: clip-path;
      }
      .left {
        position: relative;
        width: 30%;
        height: 100%;
        animation: watch 2s infinite linear alternate;
        img {
          position: absolute;
          left: 0;
          top: 25%;
          width: 325px;
          height: 467px;
          object-fit: cover;
        }
      }
      .right {
        padding-left: 80px;
        height: 100%;
        width: 550px;
        .infoContainer {
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .title {
            font-family: "Taviraj";
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 80px;
            /* or 133% */
            letter-spacing: 0.02em;
            color: #333333;
          }
          .line {
            height: 2px;
            width: 100px;
            background-color: #000;
            margin-bottom: 10px;
          }
          .desc {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.03em;
            color: #333333;
            margin-bottom: 10px;
          }
          .btn {
            font-weight: 400;
            font-size: 20px;
            line-height: 34px;
            letter-spacing: 0.02em;
            .addToCart {
              outline: none;
              border: none;
              padding: 14px 20px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              background: #d84727;
              color: #ffffff;
              svg {
                margin-right: 10px;
              }
            }
            .watchMore {
              border: 2px solid #d84727;
              box-sizing: border-box;
              outline: none;
              padding: 12px 14px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              background: transparent;
              margin-left: 10px;
              svg {
                margin-right: 10px;
              }
            }
          }
          .sliderBtn {
            position: absolute;
            right: 0;
            bottom: -170px;
            width: 200px;
            height: 200px;
            svg {
              width: 60px;
              height: 60px;
              cursor: pointer;
              &:hover {
                fill: #333333;
              }
            }
          }
        }
      }

      @include tablet {
        max-width: 1024px;
        padding: 0px 15px 0px 15px;
      }
      @include mobile {
        width: 100vw;
        padding: 0;
        .left {
          display: none;
        }
        .right {
          padding-left: 20px;
          .infoContainer {
            .title {
              font-size: 40px;
            }
            .btn {
              .addToCart {
                padding: 8px 16px;
                font-size: 14px;
                svg {
                  margin-right: 10px;
                }
              }
              .watchMore {
                padding: 6px 12px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes watch {
  0% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(-10deg);
  }
  7% {
    transform: rotate(-20deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  50%,
  100% {
    transform: rotate(-10deg);
  }
}
