@use "../../../sass/mixins" as *;

.container {
  margin: 0 auto;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 75px;

  :global {
    .infinite-scroll-component__outerdiv {
      height: auto;
    }
    .infinite-scroll-component {
      overflow-y: hidden !important;
    }
  }

  .title {
    font-family: "Taviraj";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 111% */
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 20px;
    position: relative;
    &::after {
      content: " ";
      height: 2px;
      width: 40px;
      background-color: #000;
      position: absolute;
      top: 40px;
      left: 0;
    }
  }
  .image__wrap {
    display: flex;

    img {
      height: auto;
      max-width: 100%;
    }
  }
  .way__result {
    width: 1110px;
    margin: 0 auto;
    margin-top: 80px !important;
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
      padding: 0;
    }

    .short__list__grid {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  }
  .listItem {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 70px;
    margin-top: 80px !important;
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  @include tablet {
    width: 1024px;

    .listItem {
      gap: 0 15px;
    }
  }
  @include mobile {
    width: 100vw;
    height: 100%;
    .title {
      margin-top: 80px;
    }
    .listItem {
      flex-wrap: wrap;
      gap: 5px;
    }
  }

  .no_result {
    margin-top: 30px;
    @include flex();
    font-size: 35px;
    font-weight: 600;
    opacity: 0.4;
    text-transform: uppercase;
  }
}

.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.row {
  flex-direction: column;
}

.opa07 {
  opacity: 0.4;
  color: rgb(150, 150, 150);
  cursor: pointer;
}
.opa1 {
  opacity: 1;
  color: black;
  cursor: pointer;
  font-weight: 700;
}
