@use "../../sass/mixins" as *;
.container {
  @include flex();
  flex-direction: column;
  max-width: 100vw;
  background: white;

  :global {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
    .ant-tabs-tab:hover {
      color: #d84727;
    }
    .ant-tabs {
      width: 1240px;
      @include tablet {
        max-width: 100vw;
      }
    }

    .ant-tabs-nav {
      min-height: 500px;
      @include tablet {
        min-height: 60px;
        padding: 0 20px;
      }
    }

    .ant-tabs-ink-bar {
      background: #d84727;
    }
  }

  .url {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333333;
    @include font(normal, 400, 16px, 27px, 0.02em);
    &_main {
      color: #d84727;
    }
  }

  .tab {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
