@use "../../sass/mixins" as *;
.home {
  max-width: 100vw;
  min-height: 100vh;
  background: white;
  overflow: hidden;

  .carousel {
    height: 80vh;
  }

  .categories {
    min-height: unset !important;
    height: 40vh;
    display: flex;
    justify-content: center;
  }

  .videoBlog {
    margin-top: 10rem;
    height: 140vh;
    display: flex;
    justify-content: center;
  }
  .monthlyDeal {
    height: 90vh;
    display: flex;
    justify-content: center;
  }
  .recentsNew {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .featured {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonial {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .instagram {
    height: 90vh;
    display: flex;
    justify-content: center;
  }

  @include tablet {
    .carousel {
      min-height: 60vh;
    }
    .categories {
      min-height: 60vh;
    }

    .videoBlog {
      max-height: 70vh;
    }

    .monthlyDeal {
      min-height: 110vh;
    }
    .recentsNew {
      margin: 0;
      min-height: 30vh;
      height: unset;
    }

    .testimonial {
      margin-top: 300px;
      min-height: 30vh;
      height: unset;
    }
    .instagram {
      min-height: 50vh;
      height: 0;
      margin-top: 100px;
    }
  }
  @include mobile {
    .carousel {
      min-height: 60vh;
    }
    .categories {
      margin-top: 10rem;
      min-height: 60vh;
    }

    .videoBlog {
      max-height: 60vh;
      margin-top: 15rem;
    }

    .monthlyDeal {
      min-height: 315vh;
    }
    .recentsNew {
      margin-top: 3rem;
      min-height: 80vh;
    }

    .testimonial {
      margin-top: 30rem;
      margin-bottom: 0;
    }
    .instagram {
      min-height: 45vh;
      height: 0;
    }
  }
}
