.home {
  max-width: 100vw;
  min-height: 100vh;
  background: #E5E5E5;
  margin: -7px -7px;
  .carousel {
    height: 80vh;
  }
  .categories {
    height: 60vh;
    display: flex;
    justify-content: center;
  }
  .monthlyDeal {
    height: 70vh;
    display: flex;
    justify-content: center;
  }
}