.container {
  display: flex;
  flex-direction: column;

  .image_blog {
    max-width: 355px;
    max-height: 235px;
    min-width: 355px;
    min-height: 235px;
    cursor: pointer;

    img {
      max-width: 355px;
      max-height: 235px;
      min-width: 355px;
      min-height: 235px;
      object-fit: cover;
    }
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1;
    max-width: 355px;
    padding: 5px 0 0 5px;
    cursor: pointer;
    &:hover {
      color: #d84727;
    }
  }
  .author {
    padding: 5px 0 0 5px;
  }
}
