@use "../../../sass/mixins" as *;
.container {
  display: flex;
  flex-direction: column;

  .image_blog {
    max-width: 544px;
    max-height: 350px;
    min-width: 544px;
    min-height: 350px;
    cursor: pointer;
    @include mobile {
      max-width: 300px;
      max-height: 200px;
      min-width: 300px;
      min-height: 200px;
    }
    img {
      max-width: 544px;
      max-height: 350px;
      min-width: 544px;
      min-height: 350px;
      object-fit: cover;
      @include mobile {
        max-width: 300px;
        max-height: 200px;
        min-width: 300px;
        min-height: 200px;
      }
    }
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1;
    max-width: 544px;
    padding: 5px 0 0 5px;
    cursor: pointer;
    &:hover {
      color: #d84727;
    }
  }
  .author {
    padding: 5px 0 0 5px;
  }
}
