.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  .text {
    font-size: 25px !important;
  }

  .list_wishlist {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    padding-top: 15px;
    padding-left: 30px;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
