.avatar {
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  img {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
  }
}

.pImage {
  max-width: 50px;
  max-height: 60px;
  min-width: 50px;
  min-height: 60px;

  img {
    max-width: 50px;
    max-height: 60px;
    min-width: 50px;
    min-height: 60px;
  }
}
