.container {
  margin-top: 200px !important;
  max-width: 1110px;
  margin: 0 auto;
  p {
    font-size: 15px;
  }
  .title {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
  }
  :global {
    .ant-collapse {
      background: none;
      border: none;
    }
    .ant-collapse > .ant-collapse-item {
      border-top: 2px solid #d84727 !important;
      border-bottom: none;
    }
    .ant-collapse > .ant-collapse-item:last-child {
      border-bottom: 2px solid #d84727;
    }

    .ant-collapse-content {
      border-top: none;
    }
  }
}
