.container {
  margin-top: 200px;

  .list_blog {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list_small_blog {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
