.title_general {
  text-align: left;
  display: block;
  background: #d84727;
  max-width: 230px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
