.paymentDetail {
  width: 1110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 30px;

  .title {
    font-family: "Taviraj";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 20px;
  }
  .information {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 600px;
      width: 540px;
      row-gap: 30px;
      .detailOrder {
        height: 308px;
        background: #fff;
        padding: 20px;
        .detailContent {
          .contentItem {
            display: flex;
            justify-content: space-between;
            font-family: "Taviraj";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 60px;
            /* or 250% */
            letter-spacing: 0.03em;
            color: #333333;
          }
          .total {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid #333333;
            .display {
              font-family: "Taviraj";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 60px;
              /* or 250% */
              letter-spacing: 0.03em;
              color: #333333;
            }
            .price {
              font-family: "Taviraj";
              font-style: normal;
              font-weight: 500;
              font-size: 36px;
              line-height: 60px;
              /* identical to box height, or 167% */
              letter-spacing: 0.03em;
              color: #333333;
            }
          }
        }
      }
      .paymentDetails {
        height: 210px;
        background: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        .paymentMethod {
          padding: 20px 0px;
          width: 100%;
          height: 300px;
          .paymentChoice {
            display: flex;
            flex-direction: column;
            .paymentMethodItem {
              display: flex;
              align-items: center;
              svg {
                margin: 0 10px;
              }
            }
          }
        }
        // .top {
        //   display: flex;
        //   justify-content: space-between;
        //   .time {
        //     font-family: "Taviraj";
        //     font-style: normal;
        //     font-weight: 600;
        //     font-size: 24px;
        //     line-height: 48px;
        //     /* identical to box height, or 200% */
        //     letter-spacing: 0.02em;
        //     color: #d93f3f;
        //   }
        // }
        // .bottom {
        //   font-family: "Nunito";
        //   font-style: normal;
        //   font-weight: 400;
        //   font-size: 16px;
        //   line-height: 32px;
        //   /* or 200% */
        //   letter-spacing: 0.03em;
        //   color: #333333;
        // }
      }
    }
    .right {
      width: 540px;
      height: 600px;
      background-color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      .orderDetail {
        .orderContent {
          .contentItem {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            font-family: "Taviraj";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            /* identical to box height, or 160% */
            letter-spacing: 0.02em;
            color: #333333;
            .OrderNumber {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              .number {
                span {
                  margin-left: 10px;
                  font-family: "Taviraj";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 24px;
                  /* identical to box height, or 150% */
                  letter-spacing: 0.02em;
                  color: #d84727;
                  cursor: pointer;
                }
              }
              .note {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                letter-spacing: 0.02em;
                color: #777777;
                width: 278px;
              }
            }
            .itemList {
              .item {
                span {
                  font-family: "Taviraj";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 32px;
                  /* or 200% */
                  letter-spacing: 0.02em;
                  color: #777777;
                }
              }
            }
          }
        }
      }
    }
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    button {
      cursor: pointer;
      border: none;
      display: flex;
      background: #d84727;
      justify-content: center;
      align-items: center;
      font-family: "Taviraj";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      /* identical to box height, or 160% */
      letter-spacing: 0.03em;
      color: #ffffff;
      padding: 15px 37px;
    }
  }
}
