@use "../../../sass/mixins" as *;
.container {
  :global {
    .ant-modal {
      top: 200px;
    }
  }
}

.paymentDetail {
  width: 1110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 30px;
  @include tablet {
    width: 100%;
  }

  .title {
    font-family: "Taviraj";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 20px;

    @include mobile {
      font-size: 25px;
    }
  }
  .information {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    @include tablet {
      width: 100%;
      align-items: center;
      flex-direction: column;
      row-gap: 70px;
    }
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 600px;
      width: 540px;
      row-gap: 30px;
      @include mobile {
        width: 100vw;
        padding: 0 20px;
      }
      .detailOrder {
        height: 308px;
        background: #fff;
        padding: 20px;
        .detailContent {
          .contentItem {
            display: flex;
            justify-content: space-between;
            font-family: "Taviraj";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 60px;
            /* or 250% */
            letter-spacing: 0.03em;
            color: #333333;
            @include mobile {
              font-size: 16px;
            }
          }
          .select_voucher {
            color: #d84727;
            font-size: 14px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 10px;
            .title_voucher {
              display: flex;
              column-gap: 10px;
              align-items: center;
            }
          }
          .total {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid #333333;
            .display {
              font-family: "Taviraj";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 60px;
              /* or 250% */
              letter-spacing: 0.03em;
              color: #333333;
              @include mobile {
                font-size: 16px;
              }
            }
            .price {
              font-family: "Taviraj";
              font-style: normal;
              font-weight: 500;
              font-size: 36px;
              line-height: 60px;
              /* identical to box height, or 167% */
              letter-spacing: 0.03em;
              color: #333333;
              @include mobile {
                font-size: 20px;
              }
            }
          }
        }
      }
      .paymentDetails {
        height: 210px;
        background: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        .paymentMethod {
          padding: 20px 0px;
          width: 100%;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          // :global{
          //   .ant-radio .ant-radio-checked{

          //   }
          // }
          span {
            display: flex;
            align-items: center;
            margin-top: 4px;
          }
          .paymentChoice {
            display: flex;
            flex-direction: column;
            .paymentMethodItem {
              display: flex;
              align-items: center;
              svg {
                margin: 0 10px;
              }
            }
          }
        }
        // .top {
        //   display: flex;
        //   justify-content: space-between;
        //   .time {
        //     font-family: "Taviraj";
        //     font-style: normal;
        //     font-weight: 600;
        //     font-size: 24px;
        //     line-height: 48px;
        //     /* identical to box height, or 200% */
        //     letter-spacing: 0.02em;
        //     color: #d93f3f;
        //   }
        // }
        // .bottom {
        //   font-family: "Nunito";
        //   font-style: normal;
        //   font-weight: 400;
        //   font-size: 16px;
        //   line-height: 32px;
        //   /* or 200% */
        //   letter-spacing: 0.03em;
        //   color: #333333;
        // }
      }
    }
    .right {
      width: 540px;
      height: 600px;
      background-color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      @include mobile {
        width: 100vw;
        padding: 0 20px;
      }

      .orderDetail {
        .orderContent {
          .contentItem {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            font-family: "Taviraj";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            /* identical to box height, or 160% */
            letter-spacing: 0.02em;
            color: #333333;
            @include mobile {
              font-size: 16px;
            }
            .OrderNumber {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              .number {
                span {
                  margin-left: 10px;
                  font-family: "Taviraj";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 24px;
                  /* identical to box height, or 150% */
                  letter-spacing: 0.02em;
                  color: #d84727;
                  cursor: pointer;
                }
              }
              .note {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                letter-spacing: 0.02em;
                color: #777777;
                width: 278px;
              }
            }
            .itemList {
              max-height: 100px;
              overflow-y: auto;
              .item {
                span {
                  font-family: "Taviraj";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 32px;
                  /* or 200% */
                  letter-spacing: 0.02em;
                  color: #777777;
                }
              }
            }
          }
        }
      }
    }
  }
  .btnContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    @include mobile {
      max-width: 100vw;
    }
    .btn {
      display: flex;
      justify-content: center;
      button {
        cursor: pointer;
        border: none;
        display: flex;
        background: #d84727;
        justify-content: center;
        align-items: center;
        font-family: "Taviraj";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        /* identical to box height, or 160% */
        letter-spacing: 0.03em;
        color: #ffffff;
        padding: 10px 20px;
        @include mobile {
          font-size: 16px;
          padding: 10px 10px;
        }
      }
    }
  }
}
