.categoryContainer {
  width: 1110px;
  height: 505px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .categoryItem {
    background: #fff;
    padding: 32px;
    position: relative;
    width: 430px;
    height: 200px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
      .title {
        font-family: "Taviraj";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        /* identical to box height, or 114% */

        letter-spacing: 0.03em;

        color: #333333;
      }
      .desc {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        letter-spacing: 0.03em;

        color: #777777;
      }
      .discover {
        font-family: "Taviraj";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.03em;
        border-bottom: 1px solid #333333;
        color: #333333;
        width: fit-content;
        cursor: pointer;
      }
    }
    .right {
      .cat1 {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 330px;
          height: 143px;
          object-fit: cover;
      }
      .cat2 {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 155px;
          height: 152px;
          object-fit: cover;
      }
    }
  }
}
