@use "../../sass/mixins" as *;
.cart__item {
  p {
    margin-bottom: unset !important;
  }
  @include flex(center, space-between);
  &__left {
    @include flex(center);
    column-gap: 32px;
    &__image {
      padding: 11px 25px;
      max-width: 130px;
      max-height: 130px;
      min-width: 130px;
      min-height: 130px;
      @include flex();
      img {
        max-width: 130px;
        max-height: 130px;
        min-width: 130px;
        min-height: 130px;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      row-gap: 2px;
      .title {
        @include font(normal, 400, 20px, 24px, 0.02em);
        color: #333333;
      }
      .voucher {
        color: #777777;
        @include font(normal, 400, 16px, 24px, 0.02em);
        position: relative;
        width: fit-content;
        .line {
          position: absolute;
          border: 2px solid #d93f3f;
          border-bottom: none;
          left: 0;
          right: 0;
          bottom: 50%;
        }
      }
      .price {
        color: #333333;
        @include font(normal, 600, 24px, 32px, 0.02em);
      }
      .detail {
        color: #555555;
        @include font(normal, 400, 16px, 24px, 0.03em);
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__select {
      color: #333333;
      @include font(normal, 500, 16px, 24px, 0.03em);
    }
    &__price {
      margin-top: 8px;
      background: #ffffff;
      border: 0.3px solid #333333 !important;
      box-sizing: border-box;
      outline: none;
      padding: 9px 50px 9px 16px;
      color: #999999;
      @include font(normal, 500, 16px, 24px, 0.03em);
      &__item {
        padding: 9px 16px;
        color: #999999;
        @include font(normal, 500, 16px, 24px, 0.03em);
      }
    }
    &__option {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 18px;
      @include flex(center, flex-end);
      margin-top: 30px;
      .sub {
        width: 24px;
        height: 24px;
        border: 1px solid #777777;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        &:hover {
          @include border-radius(50%);
          @include transition(all, 0.5s, ease);
        }
        &:not(:hover) {
          @include transition(all, 0.5s, ease);
        }
        .icon_sub {
          position: absolute;
          border: 1px solid #777777;
          bottom: 50%;
          left: 0;
          right: 0;
          margin: 0 4px;
          border-bottom: none;
        }
      }
      .count {
        @include font(normal, 400, 24px, 32px, 0.03em);
        color: #000000;
      }
      .add {
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        position: relative;
        background: #d84727;
        border: none;
        cursor: pointer;
        &:hover {
          @include border-radius(50%);
          @include transition(all, 0.5s, ease);
        }
        &:not(:hover) {
          @include transition(all, 0.5s, ease);
        }
        .icon_add {
          position: absolute;
          border: 1px solid #ffffff;
          bottom: 50%;
          left: 0;
          right: 0;
          border-bottom: none;
          border-right: none;
          border-left: none;
          margin: 0 4px;
        }
        .icon_add2 {
          position: absolute;
          border: 1px solid #ffffff;
          bottom: 0;
          top: 0;
          left: 50%;
          margin: 4px 0 !important;
          border-right: none;
          border-top: none;
          border-bottom: none;
        }
      }
      .result {
        color: #333333;
        @include font(normal, 600, 24px, 32px, 0.02em);
      }
      .delete {
        cursor: pointer;
        border: 1px solid #d93f3f;
        box-sizing: border-box;
        @include flex();
        width: 32px;
        height: 32px;
        background: transparent;
      }
    }
  }
}

.sub__total {
  p {
    margin-bottom: unset !important;
  }
  flex-direction: row;
  @include flex(center, space-between);
  .voucher {
    color: #01522d;
    @include font(normal, 500, 20px, 24px, 0.02em);
  }
  .total {
    @include flex(center, space-between);
    column-gap: 32px;
    &__text {
      color: #333333;
      @include font(normal, 400, 20px, 24px, 0.02em);
    }
    &__price {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      align-items: flex-end;
      &__voucher {
        color: #777777;
        @include font(normal, 400, 16px, 24px, 0.02em);
        position: relative;
        .line {
          position: absolute;
          border: 2px solid #d93f3f;
          left: 0;
          right: 0;
          bottom: 50%;
          border-bottom: none;
        }
      }
      &__correct {
        color: #333333;
        @include font(normal, 400, 24px, 32px, 0.02em);
      }
    }
  }
}

.checkout {
  margin-top: 26px;
  background: #d84727;
  border: none;
  width: 100%;
  padding: 22px 0;

  color: #ffffff;
  @include font(normal, 600, 24px, 24px, 0.02em);
}

.line_deli {
  margin: 40px 0;
  border: 0.3px solid #e5e5e5;
  border-top: none;
}

:global {
  .ant-modal {
    width: fit-content !important;
  }
  .ant-modal-wrap::-webkit-scrollbar {
    width: 0 !important ;
    overflow: hidden;
  }
  .ant-modal-content {
    width: 1110px;
  }
  .ant-modal-close {
    display: none;
  }
  .ant-modal-footer {
    display: none;
  }
  .ant-modal-body {
    padding: unset !important;
  }
}
