@use "../../../sass/mixins" as *;
.contanier {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;

  .title {
    padding: 0;
    margin: 0;
    font-size: 60px;
    text-transform: uppercase;
    @include mobile {
      font-size: 35px;
    }
  }

  video {
    transform: scale(0.8);
    @include mobile {
      transform: scale(0.3);
    }
  }
}
