.instagramContainer {
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 80px;
    position: relative;

    &::before {
      content: " ";
      height: 2px;
      width: 100px;
      background: #000;
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
    }
  }
  .instagramList {
    display: flex;
    width: 100%;
    justify-content: center;
    .instagramItem {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
  }
}
