@use "../../sass/mixins" as *;
.blog {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding-bottom: 50px;
  &_img_main {
    margin-top: 50px;
    @include flex();
    flex-direction: column;
    img {
      width: 1100px;
      height: 600px;
      opacity: 0.9;
    }

    .blog_general {
      max-width: 760px;
      display: flex;
      flex-direction: column;
      max-width: 760px;
      margin: 0 auto;
      position: relative;
      padding: 50px 30px;
      padding-bottom: 30px;
      padding-top: 80px;
      margin-top: -65px;
      text-align: center;
      opacity: 1;
      background: #000;
      .title_general {
        text-align: left;
        display: block;
        margin-top: -101px;
        margin-bottom: 30px;
        background: #d84727;
        max-width: 230px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: auto;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 0px;
        padding-left: 10px;
        margin-left: -30px;
        text-transform: uppercase;
        color: white;
      }
      .desc {
        margin: 0 auto 7px;
        max-width: 600px;
        line-height: 1.2;
        .linkToBlog {
          font-size: 30px;
          color: #fff !important;
        }
      }
    }
  }
}
